@model uStora.Web.Infrastructure.Core.PaginationSet<uStora.Web.Models.ProductViewModel>
@{
    var tagcategory = (IEnumerable<uStora.Web.Models.TagCategoryViewModel>)ViewBag.TagCategory;
    ViewBag.Title = "Customize";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var tag = (IEnumerable<uStora.Common.ViewModels.TagbyTagCategoryViewModel>)ViewBag.Tag;

}
<!-- Demo Styles -->
<style>


    .item {
        box-sizing: border-box;
        float: left;
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        width: 20%;
        margin-bottom: 40px;
        height: 360px;
        max-height: 360px;
        overflow: hidden;
    }

        .item .wrapper {
            background-color: #f4f4f4;
            padding: 8px;
            height: 100%;
        }

            .item .wrapper img {
                width: 100%;
            }

            .item .wrapper .item-tags {
                color: #AAA;
                font-size: 12px;
                line-height: 1.8;
            }

    .tagsort-tags-container {
        margin: 40px 0;
    }
</style>

<link href="~/Assets/Client/css/tagsort.min.css" rel="stylesheet" />




<div class="container">

    <h1>Chọn lựa sản phẩm theo sở thích nhanh chóng</h1>

    @foreach (var tc in tag)
    {

        <a>@tc.NameTagCategory :</a>
        @*<div class="tags-container row">*@

        <div class="tags-container row" >
            <div id="demo" class="m">
                <span>@tc.NameTag</span>
            </div>
        </div>
        <script>
            var elem = document.getElementById('demo');
            elem.outerHTML = elem.textContent.replace(/\s{2,}/g,'').split(',').map(function (el) {
                return '<span>'+el+'</span>';
            }).join(' ');
        </script>


    }

    @foreach (var product in Model.Items)
    {

        <div class="item col-md-3" data-item-id="1" data-item-tags="@product.Tags">

            <div class="single-shop-product">
                @*<div class="product-upper">*@
                    <img src="@product.Image" data-html="true" data-toggle="tooltip" title="@product.Description" alt="@product.Name">
                @*</div>*@
                <h2><a href="/product/@(product.Alias)-@(product.ID).htm">@product.Name</a></h2>
                <div class="product-carousel-price">
                    @if (product.PromotionPrice.HasValue && product.PromotionPrice.Value != 0)
                    {
                        <ins>@product.PromotionPrice.Value.ToString("c0")</ins>
                        <del>@product.Price.ToString("c0")</del>
                    }
                    else
                    {
                        <ins>@product.Price.ToString("c0")</ins>
                    }
                </div>
                <div class="product-option-shop">
                    <a href="#" id="btnAddToCart" data-id="@product.ID" class="add_to_cart_button">Thêm vào giỏ</a>
                    @*@if (Request.IsAuthenticated)
                    {
                        <a href="javascript:void()" id="add_to_wishlist_button" class="add_to_wishlist_button" data-toggle="tooltip" title="Yêu thích"><i class="fa fa-heart" data-id="@product.ID" id="btnAddWishlist"></i></a>
                    }
                    else
                    {
                        <a href="javascript:void()" id="add_to_wishlist_button" class="add_to_wishlist_button" data-toggle="tooltip" title="Yêu thích"><i class="fa fa-heart" data-id="@product.ID" id="btnAddWishlistDisable"></i></a>
                    }*@
                </div>
            </div>

        </div>


    }
</div>

